<div class="flex flex-column">
  <ul class="flex flex-wrap justify-content-evenly">
    <li class="w-3 text-center">
      <a [routerLink]="['/']" (click)="showMobileCategories = false"
        ><fa-icon class="p-2 block" [icon]="icons.home" />
        <span>Home</span>
      </a>
    </li>
    <li class="w-3 text-center hidden md:block">
      <a [routerLink]="['category/pinned']" routerLinkActive="active"
        ><fa-icon class="p-2 block" [icon]="icons.pinned" />
        <span>Pinned</span>
      </a>
    </li>
    <li class="w-3 text-center md:hidden block">
      <a
        [class.active]="showMobileCategories"
        (click)="showMobileCategories = !showMobileCategories"
        ><fa-icon class="p-2 block" [icon]="icons.jar" />
        <span>Categories</span>
      </a>
    </li>
    <li class="w-4 text-center">
      <app-notifications />
    </li>
  </ul>

  <div class="category-list md:block" [class.hidden]="!showMobileCategories">
    <h4 class="m-0">Categories:</h4>
    <ul>
      @for (cat of categories; track $index) {
        <li>
          <a [routerLink]="['category', cat.id]" routerLinkActive="active">
            <fa-icon [icon]="icons.jar" class="p-2" />
            {{ cat.name }} ({{ cat.Links?.length || 0 }})
          </a>
        </li>
      }
    </ul>
    <ul>
      @if (showSettings) {
        <li>
          <a [routerLink]="['settings']"
            ><fa-icon [icon]="icons.settings" class="p-2" />Settings</a
          >
        </li>
      }
      <li class="cursor-pointer" (click)="logout()">
        <a><fa-icon [icon]="icons.logOut" class="p-2" />Log Out</a>
      </li>
    </ul>
  </div>
</div>
