<a class="cursor-pointer" (click)="showNotifications = !showNotifications"
  ><fa-icon
    [icon]="navIcon"
    class="p-2 block"
    [class.has-notifications]="notifications.length"
  />Notifications</a
>
@if (showNotifications) {
  <div class="absolute left-0 right-0 bg-primary-reverse text-left">
    @if (hasNotifications) {
      <span
        class="tag absolute right-0 top-0 cursor-pointer"
        (click)="clearAll()"
      >
        Clear all
      </span>
    }

    @for (notification of notifications; track $index) {
      <div
        class="cursor-pointer flex justify-content-between py-1 px-2 m-2 notification border-round {{
          notification.status
        }}"
        (click)="readNotification(notification)"
      >
        <div>
          <p class="m-0">{{ notification.title }}:</p>
          <p class="m-0">
            <small>{{ notification.text }}</small>
          </p>
        </div>
        <fa-icon [icon]="notificationIcon(notification)" />
      </div>
    }
    @if (!notifications.length) {
      <p>No notifications</p>
    }
  </div>
}
