:host {
  position: relative;
  display: inline-block;
  .tooltip {
    position: absolute;
    display: none;
    padding: 0.25rem;
    opacity: 0.8;
    text-align: center;
    color: #ffffff;
    border-radius: 0.25rem;
    min-width: 100%;

    &.error {
      background: var(--severity-error);
    }

    &.info {
      background: var(--severity-info);
      color: var(--primary-dark);
    }

    &.success {
      background: var(--severity-success);
    }

    &.warning {
      background: var(--severity-warning);
      color: var(--primary-dark);
    }

    &.visible {
      display: block;
    }

    &.top-right {
      bottom: 100%;
      left: 50%;
    }
  }
}
