<form [formGroup]="formGroup" class="text-center w-11 pt-3">
    <div class="field grid col-12">
        <label for="url" class="col-12 mb-2 md:col-1 md:mb-0">Url:</label>
        <div class="col-12 md:col-11">
            <input type="text" id="url" formControlName="url" placeholder="https://erellsworth.com" />
        </div>
    </div>

    <div class="field grid col-12">
        <label for="title" class="col-12 mb-2 md:col-1 md:mb-0">Title:</label>
        <div class="col-12 md:col-11">
            <input type="text" id="title" formControlName="title" placeholder="title for link" />
        </div>
    </div>

    <div class="field col-12">
        <label for="description" class="px-1">Description</label>
        <textarea id="description" type="text" formControlName="description" rows="4" class="mx-0"></textarea>
    </div>
    <div class="flex">
        <div class="field grid col-3">
            <input type="checkbox" id="pinned" formControlName="pinned" class="w-auto" />
            <label for="pinned" class="col-8 mx-0 px-0">Pin this link?</label>
        </div>

        <button type="button" (click)="save()" [disabled]="formGroup.invalid">Save</button>

    </div>
</form>