<div class="category-selector text-left">
  <div class="flex align-items-end">
    <div class="relative">
      <label for="category" class="block pl-1">Category</label>

      <app-tooltip
        [message]="tooltipMessage"
        [visible]="showTooltip"
        severity="error"
      >
        <input
          id="category"
          class="inline-block my-0 mx-1"
          [class.active]="suggestions.length"
          type="text"
          (input)="tooltipMessage = ''"
          (keydown.enter)="addNewCategory()"
          [(ngModel)]="category"
        />
      </app-tooltip>
      <!-- TODO: Create autocomplete component -->
      <ul
        class="category-autocomplete m-0"
        [class.visible]="suggestions.length"
      >
        @for (cat of suggestions; track $index) {
        <li (click)="handelSelection(cat)">{{ cat.name }}</li>
        }
      </ul>
    </div>
    <button type="button" class="m-0" (click)="addNewCategory()">
      <fa-icon [icon]="icons.add" />
    </button>
  </div>

  <ul class="category-list">
    @for (cat of selecteCategories; track $index) {
    <app-tooltip
      message="Will create on save"
      [showOnHover]="!cat.id"
      severity="warning"
    >
      <li [class.new]="!cat.id">
        {{ cat.name }}
        <span (click)="unselectCategory(cat)"
          ><fa-icon [icon]="icons.remove"
        /></span>
      </li>
    </app-tooltip>
    }
  </ul>
</div>
