:host {
  .pickle-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--secondary-light);
    z-index: 9999;
  }
  ::ng-deep {
    header {
      background-color: red;
    }
  }
}
