.bg {
  &-primary {
    &-dark {
      background: var(--primary-dark);
    }
    &-light {
      background: var(--primary-light);
    }
  }

  &-secondary {
    background: var(--secondary-color);

    &-dark {
      background: var(--secondary-dark);
    }
    &-light {
      background: var(--secondary-light);
    }
  }
}
