.bg {
  &-primary {
    &-dark {
      background: var(--primary-dark);
    }
    &-light {
      background: var(--primary-light);
    }
  }

  &-secondary {
    background: var(--secondary-color);

    &-dark {
      background: var(--secondary-dark);
    }
    &-light {
      background: var(--secondary-light);
    }
  }

  &-error {
    background: var(--severity-error);
  }

  &-info {
    background: var(--severity-info);
  }

  &-success {
    background: var(--severity-success);
    color: var(--primary-color-text);
  }

  &-warning {
    background: var(--severity-warning);
    color: var(--primary-color-text);
  }
}
