<div class="link-card p-3" [class.preview]="!link.id">
    <div class="flex">
        @if(link.thumbnail) {
        <div class="thumbnail pr-2">
            <a [href]="link.url" target="_blank">
                <img class="p-0" [src]="link.thumbnail"  />
                </a>
        </div>
        }
        <div class="p-0">
            <h4 class="mt-0">
                <a [href]="link.url" target="_blank">{{link.title}}</a>
            </h4>
            @if(link.description){
                <p class="pt-0">{{ link.description }}</p>
            }
        </div>
    </div>
    <p><a [href]="link.url" target="_blank">{{link.url}}</a></p>
</div>
