.link-card {
    background: var(--primary-dark);
    border-radius: .25rem;

    &.preview {
        border: 1px dashed var(--primary-color);
    }

    a {
        color: var(--primary-color);

        &:hover {
            color: var(--secondary-light);
        }
    
        &:visited {
            color: var(--secondary-color);
        }
    }

    .thumbnail {
        max-width: 25%;
    }
}